.hero {
  position: relative;
}

.bannerImg {
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 75%);
  -weblit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.heroCaption {
  position: absolute;
  width: 100%;
  padding-left: 6%;
  bottom: 0;
}

.heroCaption p {
  max-width: 700px;
  font-size: 17px;
  margin-bottom: 20px;
}

.captionImg {
  width: 90%;
  max-width: 420px;
  margin-bottom: 30px;
}

.heroBtns {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.btn {
  border: 0;
  outline: 0;
  padding: 8px 20px;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  background-color: white;
  gap: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn img {
  width: 25px;
}

.btn.darkBtn {
  color: white;
  background-color: #6d6d6de3;
}

.btn:hover {
  background: #ffffffbf;
}

.btn.darkBtn:hover {
  background-color: #6d6d6e66;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .heroBtns {
    margin-bottom: 30px;
  }

  .titleCardWrapper {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .heroCaption {
    padding: 4%;
  }

  .captionImg {
    width: 40%;
    margin-bottom: 10px;
  }

  .heroCaption p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .btn img {
    width: 20px;
  }
}

@media screen and (max-width: 500px) {
  .captionImg {
    display: none;
  }

  .btn img {
    width: 15px;
  }

  .btn {
    padding: 4px 10px;
    gap: 5px;
    font-size: 10px;
  }

  .heroCaption p {
    font-size: 10px;
    margin-bottom: 2px;
  }

  .heroBtns {
    margin-bottom: 5px;
  }
}
