.titleCards {
  margin-top: 50px;
  margin-bottom: 30px;

  & h2 {
    margin-bottom: 8px;
  }
}

.moreTitleCards {
  margin-top: 4rem;
}

@media screen and (max-width: 800px) {
  .moreTitleCards {
    margin-top: 20px;
    margin-bottom: 0;

    & h2 {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .titleCards {
    & h2 {
     font-size: 15px;
    }
  }
}
